<div class="container mt-5">
  <div class="row">
    <div class="col-lg-11 mx-auto">
      <form>
        <div class="form-group">
          <div class="mb-3">
            <input type="number" placeholder="Add number">
          </div>
          <button type="submit" class="btn bg-primary" (click)='showform()'>
            Submit
          </button>
        </div>
      </form>
      <form [formGroup]="profileForm" *ngIf='form'>

        <div class="mb-3">
          <label for="name">Name: </label>
          <input id="name" type="text" formControlName="name">

        </div>
        <div class="class mb-3">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email">
        </div>
        <div class="class mb-3">
          <label for="phone">Phone</label>
          <input id="phone" type="number" formControlName="phone">
        </div>
        <div class="class mb-3">
          <label for="age">Age</label>
          <input id="age" type="number" formControlName="age">
        </div>
        <div class="class mb-3">
          <label for="title">Title</label>
          <input id="title" type="text" formControlName="title">
        </div>
        <button class="btn bg-primary">Add form</button>
      </form>
      </div>
    </div>
  </div>

